<html>

<head>
    <title>My title</title>
    <style media='screen'>
        body {
            background-color: rgb(36, 74, 197);
            text-align: center;
            margin-top: 10%;
        }

        input {
            width: 70%;
            text-align: center;
            background-color: rgb(255, 240, 243);
        }

        h1 {
            color: rgb(167, 39, 39);
        }
    </style>
</head>

<body>

    <h1>{{ shorten_url }}</h1>
    <h4> instead of </h4>
    <p>original: {{ oryginal_url }}</p>

    </form>
</body>

</html>